.card {
	height:5500px;
	max-height:600px;
	min-height:550px;
	min-width: 350px;
	background-color: #fbfbfb;
	box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
	margin-left:15em;
	margin-right:15em;
	position:relative;
}


.card-container {
  height:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "." ".";
}

.card-cover {
	background:linear-gradient(135deg,
							rgba(0,0,0,0.8) 0%,
							rgba(0,0,0,0.2) 80%),
							url('../../cover.jpg');
background-size: cover;
background-position: center center;
height:100%;
}

.card-text {
	text-align: left;
	margin:3.5em;
}